*{
    padding: 0;
    margin: 0;
}

.chiled-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.button{
    height:3.5vw;
}